.bar{
    margin-bottom: 115%;
    width: 100%;
    position: absolute;
    background-color: grey;
}
.whole{
    margin: 0;
    padding: 1%;
    height: 233.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(209, 195, 195);
}
.slider{
    width: 900px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 66%;
}
.slides{
    width: 850%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 40%;
    transition: 2s;
}
.slides img{
    width: 800px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid  rgb(158, 156, 156);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background:  rgb(158, 156, 156);
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -26.5%;
}
#radio4:checked ~ .first{
    margin-left: -30%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid  rgb(158, 156, 156);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background:  rgb(158, 156, 156);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background:  rgb(158, 156, 156);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background:  rgb(158, 156, 156);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(158, 156, 156);
}
.pap-1{
    position: absolute;
    height: 49%;
    width: 20%;
    margin-top: -5%;
    margin-left:-76%;
}
.pap-2{
    position: absolute;
    height: 49%;
    width: 20%;
    margin-top: -5%;
    margin-left:-52%;
}
.pap-3{
    position: absolute;
    height: 49%;
    width: 20%;
    margin-top: -5%;
    margin-left:-28%;
}
.pap-4{
    position: absolute;
    height: 49%;
    width: 20%;
    margin-top: -5%;
    margin-left:-4%;
}
.card{
    max-height: 90%;
    max-width: 4%;
    margin-left: 15.5%;
    position: absolute;
}
.img-1{
    margin-top: 50%;
    position: absolute;
}
.call{
    margin-left: 65%;
    position: absolute;
    margin-top:-754px;
}
.para{
    margin-left: 85%;
    position: absolute;
    margin-top:-1477px;
}
.secu{
    max-width: 5%;
    margin-left: 80%;
    position: absolute;
    margin-top:-1150px;
}
.rh-6{
    margin-left: 5%;
}
.rh-1{
    margin-left: 79%;
    margin-top: -87.5%;
    position: absolute;
}
.rp-1{
    margin-left: 5%;
}
.arrow-1{
    position: absolute;
    margin-top: -15%;
    margin-left: 41%;
}
.arrow-2{
    position: absolute;
    margin-top: -15%;
    margin-left: 52%;
}
.arrow-3{
    position: absolute;
    margin-top: -15%;
    margin-left: 16%;
}
.arrow-4{
    position: absolute;
    margin-top: -15%;
    margin-left: 16%;
}
.b-p{
    position: absolute;
    height: 63%;
    width: 98.9%;
    margin-left:0%;
    margin-top: 87%;
}
.ic{
    margin-left: 87%;
}
.footer-privacy{
    margin-top: 26%;
    color: white;
    margin-left: 3%;
}
.footer-line{ 
    position:absolute;
    top:360px;
    margin-left: 3%;
}
.footer-call{
    margin-left: 7%;
    margin-top: 3%;
    position: absolute;
    color: white;
}
.footer-schedule{
    margin-left: 35%;
    margin-top: 3%;
    position: absolute;
    color: white;
}
.vl {
    border-left: 1px solid white;
    height: 300px;
    position: absolute;
    margin-left: 29%;
    margin-top: 2%;
  }
.vl1{
    border-left: 1px solid white;
    height: 300px;
    position: absolute;
    margin-left: 63%;
    margin-top: 2%;
}
.footer-location{
    margin-left: 69%;
    margin-top: 3%;
    position: absolute;
    color: white;
}