.p1-off-1{
    margin-left: 9%;
}
#off-paper-2{
    margin-left: 9%;
}
#off-paper-3{
    margin-left: 9%;
}
#off-paper-4{
    margin-left: 9%;
}
#off-paper-5{
    margin-left: 9%;
}
#off-paper-6{
    margin-left: 9%;
}
#off-btn1{
    margin-left: 10%;
}
#off-h3{
    position: absolute;
    margin-left: 45%;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}